body {
   background-color: Gainsboro;
}

.menu {
    background-color: CornflowerBlue;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* Replace border with outline */
    outline: 2px solid darkGrey;
    outline-offset: -1px; /* Puts it inside without affecting size */
}

h1 {
  text-align: center;
  font-family: "Lucida Console", monospace;
  font-style: Italic;
  font-size: 30px;
  position: relative;
  padding-top: 3px;
}

.heading {
    font-family: "Lucida Console", monospace;
    font-size: 29px;
    text-indent: 20px;

}

.epigraph {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 25px;
    text-indent: 20px;
}

.circa {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 15px;
}

.frontispiece{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
/*    opacity: 0.09;
    transition: opacity 0.6s ease;*/
}

.frontispiece:hover {
  opacity: 1;
}

.logo{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 295px;
    top: 18px;
}

.logo2{
    width: 50px;
    height: 50px;
/*    position: absolute;
    left: 295px;
    bottom: 18px; */
}

.description {
    font-family: "Lucida Console";
    width: 85%;
    margin-left: 35px;
    margin-right: auto;

}

.buttons {
    text-align: center;
    font-family: "Lucida"
}

.button2 {
    position: fixed;
    left: 20px;
    }

.back_button {
    position: fixed;
    bottom: 20px;
    left:20px;
    background-color: CornflowerBlue;
}

.portfolio_button {
    position: relative;
    bottom: -5px;

}

.filigree-border {
  border: 4px solid #6495ED; /* CornflowerBlue */
  border-radius: 20px;
  background:
    url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="40" height="40"><path d="M10 20q10-10 20 0t-10 10 10 10" stroke="silver" stroke-width="1" fill="none"/><path d="M30 20q-10 10-20 0t10-10-10-10" stroke="gainsboro" stroke-width="1" fill="none"/></svg>');
  background-size: 40px 40px;
  background-repeat: repeat;
  padding: 25px 25px 15px 25px; /* Adjust for border and spacing */
  box-sizing: border-box;
  margin: 30px auto;
  width: 85%; /* keeps consistent with your .description */
}

.star {
    background-color: CornflowerBlue;
    width: 20%;
    margin-left: 50px;
}

.tab-list {
  display: flex;
  border-bottom: 2px solid #6495ED;
}

.tab {

  border: none;
  color: #4169E1;
  background-color: LightGrey;
  font-family: "Lucida Console";
  font-size: 18px;
  padding: 12px 24px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}

.tab.active {
  border-bottom: 3px solid #6495ED;
  color: #222;
  background: #DCDCDC;
}

.tab:hover {
  background: #6495ED;
  color: white;
}

.tab-content {
  border: 5px;
  border-color: CornflowerBlue;
  display: none;
  padding: 24px;
  animation: fadeIn 0.3s ease;
  font-family: "Lucida Console";
}

.tab-content.active {
  display: block;
  padding-left: 75px;
  width: 1000px;
  background-color: LightGrey;
  border: 2px dashed;
  border-color: CornflowerBlue;
  border-left: none;

  border-top: none;

}



.tab-container {
  border: 5px;
  border-color: CornflowerBlue;
}

.tab-content.scrollable {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 15px; /* Account for scrollbar */
}

#tab1.tab-content.active {
    padding-left: 0;              /* Remove left padding */
    width: 65%;                   /* Make it wider */
    margin-left: auto;            /* Center horizontally */
    margin-right: auto;
    display: block;
    background-color: rgb(243, 243, 243)
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to   { opacity: 1; transform: translateY(0);}
}

